.menu__icon_instagram {
  background-color: #F7F7F7;
  border-radius: 50%;

  background-image: url(../../../../image/inst.svg);
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
}