.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  list-style: none;

  min-width: 480px;

  margin: 0;
  padding: 0;
}

@media screen and (max-width: 820px) {
  .menu__list {
    flex-direction: column;
    margin: 0 auto;
  }
}

@media screen and (max-width: 560px) {
  .menu__list {
    min-width: 240px;
  }
}
