.mailing__form {
  display: flex;
  justify-content: center;

  margin-top: 60px;
}

@media (max-width: 768px) {
  .mailing__form {
    box-sizing: border-box;

    margin-top: 6%;

    padding-left: 10px;
    padding-right: 10px;
  }
}