.menu__btn {
  height: 50px;
  width: 120px;

  background-color: transparent;

  border: 2px solid #CD6326;
  border-radius: 5px;

  cursor: pointer;

  color: #F7F7F7;

  transition: 0.2s;
}

.menu__btn:visited {
  background-color: #8F5613;
}

.menu__btn:hover {
  background-color: #CD6326;

  transform: scale(1.05);
  transition: 0.2s;
}