.survival__container {
  box-sizing: border-box;

  min-height: 780px;

  padding-left: 120px;
  padding-right: 120px;

  background-image: url(../../../image/Rectangle.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1270px) {
  .survival__container {
    padding: 40px;
  }
}

@media screen and (max-width: 340px) {
  .survival__container {
    padding: 10px;
  }
}
