.menu__icon_facebook {
  background-color: #F7F7F7;
  border-radius: 50%;

  background-image: url(../../../../images/fb.svg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}