.menu__icon_search {
  height: 23px;
  width: 23px;

  background-image: url(../../../../images/Vector.svg);
}

.menu__icon_search:visited {
  background-image: url(../../../../images/VectorVisited.svg);
}

.menu__icon_search:hover {
  background-image: url(../../../../images/VectorActive.svg);
}

@media screen and (max-width: 1280px) {
  .menu__icon_search {
    margin-bottom: 15px;
  }
}
