.logo__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 240px;
  width: 100%;

  transition: opacity 0.1s linear;
}

.logo__container:hover {
  opacity: 0.3;

  transition: opacity 0.1s linear;
}