.font-Roboto {
  font-family: "Roboto", "Arial", sans-serif;
}

.font-OpenSans {
  font-family: "OpenSans", "Arial", sans-serif;
}

.page {
  background-color: #333333;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.main {
  background: #cccccc;
}
