.font__Roboto {
  font-family: "Roboto", "Arial", sans-serif;
}

.font__OpenSans {
  font-family: "OpenSans", "Arial", sans-serif;
}

.page {
  background-color: #333333;
}

.main {
  background: #cccccc;
}